body {
  margin: 0;
   padding-bottom: 10px;
  position: relative;
}

.visual {
  background-image: url("images/img-decor-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 1010px;
  z-index: 1;
}
.overlay{
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
box-shadow: 0 4px 10px #6363631a;
}

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px 120px;

}

#logo {
  height: 152px;
  width: 152px;
  padding-top: 10px;
}
.nav-container{
   display: flex;
  align-items: center;
  padding-bottom: 90px;
  gap: 50px;
  padding-left: 100px;
}

.nav-links a{
  text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
     /* font-style: 1000px; */
    color: #5f5f5f;
    padding:3px 12px ;
    font-size: 16px;

}
 .nav-links a:hover {
  color:#887daa;       
  cursor: pointer;          
  transition: background-color 0.3s ease; 
}

.buy-container{
  margin-left: auto;
  padding-right: 30px;
 
}
.buy-now {
   text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
     font-size: 16px;
    align-content: center;
     background-color:#887daa;
     color: white;
       padding-bottom: 5px; 
     padding: 7px 35px;
     border-radius: 25px;
   
}
.buy-now:hover {
  background-color: #6e5d9c;       
  cursor: pointer;          
  transition: background-color 0.3s ease; 
}

.background{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   font-family: "Montserrat", Geneva, Tahoma, sans-serif; 
    /* padding-top: 105px;  */
}

.bg-heading{
  font-weight: 600;
    color: #e2dfdf;
    font-size: 80px;
     padding: 80px 400px;
}   

  .bg-text{
    text-align: center;
    color: #8d81ac;
    font-size: 24px;
      font-family: "Source Sans Pro", sans-serif; 
        margin: 0 140px 20px 140px;
        margin-top: -1750px;
    }   
 
.bg-subtitle{
     color: #494654;
 text-transform: uppercase;
 padding-bottom: 800px;
  margin: 0 140px 20px 510px;
  padding-right: 400px; 
margin-top:-150px;
 
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button{
   /* height: 62px;
    line-height: 26px; */
     font-weight: bold; 
  font-size: 22px;
  color: white;
    background-color: #726499;
    text-decoration: none;
    padding:1px 62px;
    border-radius: 40px;
    font-family: "Montserrat", Geneva, Tahoma, sans-serif; 
    /* position: absolute;*/
    margin-top: -212px;
    height: 62px;
     line-height: 26px; 
}
.btn-text{
  text-align: center;
  margin-top: 16px;
}
.trial{
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
    color: #848e97;
    font-size: smaller;
    margin-top: -65px;
}
.editor{
text-align: center;
color: #635C73;
font-family: "Source Sans Pro", sans-serif;
}
.editor-heading{
  text-transform: uppercase;
    font-weight: 750;
    font-size: 55px;
    font-family: "Montserrat", sans-serif
}
.editor-text{
  font-size: 20px;
  padding-left: 203px;
  padding-right: 203px;
  margin-top: -22px;
}
.editor-stats{
  display: flex;
  justify-content: center;
   align-items: center;

}
.stats-img{
  padding: 15px 0px;
}
  
.visual-list{
    background-color: #f4f4f4;
}
.l-heading{
    text-align: center;
    font-size: 40px;
    color: #8d81ac;
    padding-top: 50px;

}
.features-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
    padding: 50px 12% 100px 12%;
}
.feature-box{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}
 .info-wraph3{
    margin-bottom: 10px;
    color: #635c73;
}
.info-wrap p{
    color: #848e97;
    font-size: 13px;
}

.icon-wrap{
    align-self: center;
}
.testimonials{
  background-image: url("images/img-decor-02.jpg");
  background-size:cover;
   background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
   color: #fff;
   font-family: "Montserrat", sans-serif;
}
.testimonials-head{
   font-size: 48px;
    margin-bottom: 70px;
    text-align: center;
    color: #e2deed;
}.grid-cont{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 90px 50px;
    align-items: center;
}
.grid-features{
    text-align: center;
    width: 100%;
}
.grid-feature p{
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
}
#plans {
    color: #fff;
    background-image: url("images/img-decor-03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px;
}
.plan-title {
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px;
    background-color: #ffffff0d;
}
.pricing-wrapper {
    display: flex;
    text-align: center;
    gap: 0px 5px;
    justify-content: center;
    margin-bottom: 50px;
}   
.pricing-box {
    background-color: #ffffff15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.divider-line {
    width: 60px;
    height: 5px;
    background-color: #8D81AC;
    margin: 30px 0px;
}
.plan-description {
    font-size: 18px;
    padding: 30px;
    margin: 0;
}
.plan-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-price {
    font-size: 64px;
    color: #ffffff2e;
    margin: 20px 0 10px 0;
}
.plan-price span {
    color: #fff;
    font-weight: bold;
}
.billing-cycle {
    color: #ffffff40;
}
 .btn-subscribe {
    background-color: #ffffff26;
    color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 35px;
}
.section-description {
    font-size: 14px;
    color: #746074;
    text-align: center;
    padding: 0 120px 5px;
} 

.subscribe{
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    align-items: center;
}
.subscribe-head{
    color: #635C73;
    font-size: 30px;
}
.email-id{
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    border: none;
    margin-right: 40px;
    width: 300px;
    font-weight: bold;
}
 

.nav-btn{
   text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
     font-size: 16px;
    align-content: center;
     background-color:#887daa;
     color: white;
       padding-bottom: 5px; 
     padding: 7px 35px;
     border-radius: 25px;
     border: none;
    }
    .footer-container{
       display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    padding: 92px 65px;
    line-height: 22px;
    grid-column-gap: 30px;
     font-family: "Montserrat", sans-serif;

    }
    .footer-container h4{
    color: #635C73;
    padding-bottom: 20px;
    margin:0;
    padding-bottom: 10px;
}

  .footer-link{
    text-decoration: none;
    font-weight: bold;
    color: #8d81ac;
    font-size: 15px;
}
.footer-menu{
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}
.footer-text{
    color: #848E97;
    font-size: 14px;
    margin:0px;
    padding-right: 0px;

}
.footer-grid1{
  margin-top: -80px;
}

